project/boot
target
.bsp
.ensime
.ensime_lucene
.ensime_cache
TAGS
\#*#
*~
.#*
.lib
.history
.*.swp
.idea
.idea/*
.idea_modules
.DS_Store
.vscode
.sbtrc
*.sublime-project
*.sublime-workspace
tests.iml
# Auto-copied by sbt-microsites
docs/src/main/tut/contributing.md

# Ignore forex-mtl target data
forex-mtl/project/*.*
forex-mtl/target/*.*
.metals